.album-track-card {
  display: flex;
  overflow: hidden;
  border-radius: 1vw;
  max-width: 100vw;
  height: 10vh;
  background-color: #fff;
  border-radius: 0.5vw;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  margin-bottom: 2vh;
  margin-left: 1vh;
}
.album-track-card-image {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 15px 0px 15px;
}
.album-track-card-image img {
  height: 50%;
}
.album-track-card-body {
  width: 30vw;
}
.album-track-card-info {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

.album-track-card-artist {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0px 2vw 0px 2vw;
  width: 100%;
}
.album-track-card-artist-header {
  font-size: 2vh;
  font-weight: bold;
}
.album-track-card-artist-name {
  font-size: 2.5vh;
  text-overflow: ellipsis; /* enables ellipsis */ /* keeps the text in a single line */
  overflow: hidden;
}

.album-track-card-artist-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 15vw;
  padding: 0px 2vw 0px 2vw;
}

h2 {
  margin-top: 0px;
}

h4 {
  margin-bottom: 0px;
}
