@media screen and (max-width: 750px) {
  .card-artist-info {
    display: none!important;
  }
}

.artist-detail-card {
  display: flex;
  overflow: hidden;
  width: 40vw;
  height: 10vh;
  background-color: #fff;
  border-radius: 0.5vw;
  box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
  margin-bottom: 3vh;
}

.card-image {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0px 15px 0px 15px;
}
.card-image img {
  height: 50%;
  border-radius: 8px;
}
.card-body {
  width: 50vw;
}
.card-info {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

.card-artist {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 0px 2vw 0px 2vw;
  width: 100%;
}
.card-artist-header {
  font-size: 2vh;
  font-weight: 600;
}
.card-artist-name {
  font-size: 2.5vh;
  font-weight: bold;
}

.card-artist-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 15vw;
  padding: 0px 0px 0px 1vw;
}
.card-artist-info-text {
  font-size: 1vh;
  opacity: 0.6;
  letter-spacing: 1px;
}

h2 {
  margin-top: 0px;
}

h4 {
  margin-bottom: 0px;
}
