.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3vh;
  border-style: solid;
  border-color: #81c6e8;
  background-color: #5da7db;
  color: black;
  font-weight:bold;
}
