.header {
  text-align: center;
  font-weight: 900;
  letter-spacing: 5px;
  margin-top: 4vh;
  text-shadow: 3px 5px 6px rgba(0, 0, 1, 1);
  color:cornsilk;
}
.dark-mode-button {
  background-color: #555555;
  font-size: 12px;
  border-radius: 8px;
border-left: 0px;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px;
}
.dark-mode-button-dark {
  background-color: #e7e7e7; 
  color: black;
  font-size: 12px;
  border-radius: 8px;
  border-top-left-radius: 0px!important;
  border-bottom-left-radius: 0px;
}